# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp

# 访问修饰符偏移
AccessModifierOffset: -4

# 允许单行上的短块
# .Never: ) {
# }
# Empty: ) { }
# Always: ) { }
# AllowShortBlocksOnASingleLine: Empty

# 用大括号括起来
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  # 控制语句后
  # Always:
  # if (a)
  # {
  # MultiLine:
  # if (a)
  # {
  # .Never: if (a) {
  # AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: true
  # true:
  # }
  # else {
  # .false: } else {
  BeforeElse: true
  # BeforeLambdaBody: false
  # BeforeWhile: false
  # IndentBraces: false
  # SplitEmptyFunction: true
  # SplitEmptyRecord: true
  # SplitEmptyNamespace: true

# 大括号前的换行
BreakBeforeBraces: Custom

# 列限制
ColumnLimit: 0

# C++ 11 大括号列表风格
# .true: {1}
# false: { 1 }
Cpp11BracedListStyle: false

# 指针对齐
# Left: int* a
# .Right: int *a
# Middle: int * a
PointerAlignment: Left

# 缩进宽度
IndentWidth: 4

# 命名空间缩进
NamespaceIndentation: All

# C++ 11 大括号列表前的空格
# true: foo {
# .false: foo{
SpaceBeforeCpp11BracedList: true

# 空块中的空格
# true: { }
# .false: {}
SpaceInEmptyBlock: true
...
